---
extends: default
rules:
  line-length:
    max: 170
  braces:
    min-spaces-inside: 0
    max-spaces-inside: 1
  truthy:
    allowed-values: ["true", "false"]
    check-keys: false
  comments:
    min-spaces-from-content: 1
  comments-indentation: false
  document-start: disable
  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true
ignore: |
  test/.work/
  .ansible/
  ansible/.ansible/
