[defaults]
inventory = inventory/hosts.yml
roles_path = roles
interpreter_python = auto_silent
retry_files_enabled = False
callback_result_format = yaml
stdout_callback = default

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=30 -o StrictHostKeyChecking=accept-new
